<main >
    <div>Este es el chat</div>
    <div id="chat">
        <h1>Chat</h1>
        <div id="history"></div>
    </div>
    <div>
        <input id="chatBox" placeholder="Escribe aqui tu mensaje" />
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>